<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46335156389-3biue8upmlqqk3v2e0vi62r3q5kmqgm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46335156389-3biue8upmlqqk3v2e0vi62r3q5kmqgm6</string>
	<key>API_KEY</key>
	<string>AIzaSyCvdf0J4EXm0e1h2cf275qiKoJ3qOh_HTc</string>
	<key>GCM_SENDER_ID</key>
	<string>46335156389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>jrm1992-rockethelp</string>
	<key>STORAGE_BUCKET</key>
	<string>jrm1992-rockethelp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46335156389:ios:e9f1b399bf3237ccd32d4c</string>
</dict>
</plist>